@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Pixels&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;400&display=swap');




body{
    background-color: rgb(191, 141, 75);
}

*{
   margin: 0;
   padding: 0;

}

nav{
    font-family: 'Kanit', sans-serif;

}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 65px;
    background-color: rgb(7, 7, 3);
    color: #fbf2f2;
}
nav ul li{
    padding: 0 12px;
}




.brand img{
    width: 45px;
    padding: 0 8px;
}

.container{
    min-height: 100vh;
    background-color: rgb(11, 3, 3);
    color: #050505;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    background-image: url(12.jpg);
    
    
}

.songitem{
    height: 40px;
    width: 120pc;
    margin-top: 130px;

}
.playlist{
     text-align: center;
 
}

.songitem img{
     
    display: block;
    border-top: 4px solid #060502;
   
    height: 190px;
    line-height: 22px;
    
    font-size: 14px;
    color: #000;
    margin-top: 40px;
    margin-left: 40px;
    clear:both;
}
      



.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}
.bottom{
    position: sticky;
    height: 90px;
    background-color: rgb(0, 0, 0); 
    bottom: 0;
    display: flex;
    justify-content: center;
    text-align: center;
}

#progressbar{
    width: 100vw;
    
}